<div class="row" *ngIf="_totalPage > 1">
  <div class="col-sm-12">
    <ngb-pagination [totalPage]="_totalPage" [limit]="limit"   [paginationClass]="paginationClass" (updateFilter)="refreshFilter($event)"></ngb-pagination>
  </div>
</div>
<div class="row">

  <div class="col-sm-12">
    <div class="mask" [ngClass]="{loading:loading}" >
      <div class="loading-spinner">
        <span class="glyphicon glyphicon-refresh glyphicon-spin"></span></div>
    </div>
    <table class="table table-bordered">
      <thead>
      <tr>
        <td *ngFor="let header of tableColumns;">
          <div *ngIf="header.sortable" (click)="_onSort(header.field)">
            {{header.label}}
            <span [ngClass]="{'dropup':sortField == header.field && sortOrder == 1}">
              <span class="caret" [ngClass]="{'disable-caret':sortField != header.field}"></span>
            </span>
          </div>
          <div *ngIf="!header.sortable" >
            {{header.label}}
          </div>
        </td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of tableData;" (click)="onRowClick(row)" >

        <td *ngFor="let cell of tableColumns;" >
          <div>
            <ngb-cell [cellTemplate]="cell.cellTemplate" [row]="row" [cell]="cell"></ngb-cell>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>